@import "../../node_modules/keystone/admin/public/styles/keystone.less";

a[title="Front page - Vete"] {
    display: none !important;
}

.EditForm__key-or-id {
    display: none !important;
}

.Relationships {
    padding-top: 0;
    & h2 {
        display: none;
    }
}

footer {
    display: none;
}